doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title SUKA Verse
        script(src='js/builder.js')
        script(src='js/blockchain/blockchain.js')
        script(src='js/ipfs/remote-ipfs.js') 
        script(src='js/ipfs/browser-ipfs.js') 
        script(src='js/gltf/uri_to_cid.js') 
        script(src='js/menu.js')


        link(rel='icon' type='image/svg' href='assets/logo.svg')
        include includes/css
    body
        //- include includes/header
        include includes/editorbar

        section.page-section
            .container(style="max-width: 85%; max-height: 100%")
                div.splitter 
                    div#first(style="height:92%;  overflow-y: scroll;")
                        div.row#sukas-list
                            template#suka-template
                                div#sukadiv.col-sm.suka-div(style="width:250px")
                                    img.my-suka.image-location.shadow-1-strong.rounded-m.mb-4(draggable=true, src='assets/img/vika-thumbnail.jpg' style="width:200px; height:200px" onerror="this.onerror=null; this.src='assets/img/vika-thumbnail.jpg'" alt='...')
                    div#separator
                    div#second
                        .drag-area.rounded-xl(style="height:90%; width:100%")
                            .icon
                                i.fas.fa-cloud-upload-alt
                            header Drag &amp; Drop to Upload File or Select from Sidebar
                            span OR
                            button Browse File
                            input(type='file', hidden='')
                        .container-gltf
                            .intro(style="display: none;")
                                canvas.intro-img.mx-auto.d-flex.rounded-m.img-fluid.mb-3.mb-lg-0(id='renderCanvas' style="width:100%")
        #spinnerModal.modal.fade.show(tabindex='-1', role='dialog',style='color: white')
            .modal-dialog.modal-dialog-centered.text-center(role='document')
                span.fa.fa-spinner.fa-spin.fa-3x.w-100
        include includes/footer

        include includes/scripts
        script(defer, src="https://unpkg.com/ipfs-http-client/dist/index.min.js")
