doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title SUKA Verse
        script(src='js/builder.js')
        script(src='js/blockchain/blockchain.js')
        script(src='js/ipfs/remote-ipfs.js') 
        script(src='js/ipfs/browser-ipfs.js') 

        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        include includes/css
    body
        //- include includes/header
        include includes/editorbar

        section.page-section.clearfix
            .container
                div.splitter 
                    div#first(style="height:550px;  overflow-y: scroll;")
                        div.row#sukas-list
                            template#suka-template
                                div.col-sm(style="width:250px")
                                    img.my-suka.image-location.shadow-1-strong.rounded-m.mb-4(src='assets/img/vika-thumbnail.jpg' style="width:200px; height:200px" onerror="this.onerror=null; this.src='assets/img/vika-thumbnail.jpg'" alt='...')
                    div#separator
                    div#second
                        .container-gltf
                            .intro
                                canvas.intro-img.mx-auto.d-flex.rounded-m.img-fluid.mb-3.mb-lg-0(id='renderCanvas' style="height:550px; width:100%")

        include includes/footer

        include includes/scripts