html(lang='en')
  head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title SUKA Verse
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    include includes/css


  body
    include includes/header

    include includes/navbar  

    section.page-section
      .container
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
          // Wrapper for slides
          .carousel-inner
            .carousel-item.active
              img(src='assets/img/rema.jpg', alt='Los Angeles', style='width:100%;')
            .carousel-item
              img(src='assets/img/roka.jpg', alt='Chicago', style='width:100%;')
          // Left and right controls
          a.left.carousel-control(href='#myCarousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
            span.sr-only Previous
          a.right.carousel-control(href='#myCarousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
            span.sr-only Next

    include includes/footer

    include includes/scripts          