doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title SUKA Verse
        script(src='js/downloads.js')
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        include includes/css
    body
        include includes/header
        include includes/navbar
        section.page-section
            .container
                div.row#download-row
                              
                template#template-downloads
                    div.mb-4.col-sm
                        .bg-faded.mb-4.px-1.py-lg-4.col-sm.rounded-xl(style="width:373px")
                            img.image-location.shadow-1-strong.rounded-xl.mb-4.px-2(src='assets/img/vika-thumbnail.jpg' style="width:350px; height:350px" alt='...')
                            table#data
                                tr
                                    td
                                        p.mb-0.px-3.image-description(style="width: 15rem")
                                            |SUKA SUKA
                                    td
                                        button.btn.btn-primary.download-btn Download

        include includes/footer

        include includes/scripts


