doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        //- script(src='js/home.js')        
        script(src='js/team.js')
        script(src='js/faq.js')
        title SUKA Verse
        script
            | var loaded = false;
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        include includes/css

    body

        include includes/navbar

        div.gradient-top-nav

        section.page-section.clearfix.mt-0
            img#intro.gradient-image(src="assets/img/intro.jpeg")
        section.page-section.cta(style="background-color: #222535; margin-top: 0rem;")
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper A new way to create and share
                                span.section-heading-lower 3D assets and environment
                            p.mb-0
                                | Web 3.0 Platform designed to enable 3D creators to design, create and share their 3D assets for real-world use cases and Metaverse..                                
        //- Page main sections
        div.gradient-team

        include includes/teams
        div.gradient-top

        include includes/gallery 
        include includes/faq 

        //- Footer
        include includes/footer
        include includes/scripts
