doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title SUKA Verse
        script(src='js/team.js')

        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')

        include includes/css

    body

        //- include includes/header

        include includes/navbar

        .container.mt-4
            #team-list.row.justify-content-center
                template#template-team
                    .col-12.col-md-6
                        .card.border-0.shadow-lg.pt-5.my-5.position-relative
                            .card-body.p-4
                                .member-profile.position-absolute.w-100.text-center
                                    img.rounded-circle.mx-auto.d-inline-block.shadow-sm.profile-img(src='assets/img/vika-thumbnail.jpg' alt='')
                                .card-text.pt-1
                                    h5.member-name.mb-0.text-center.text-primary.font-weight-bold.profile-name John Lynch
                                    .mb-3.text-center.profile-role Co-founder / CEO
                                    div.profile-description
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Vivamus eget eros vestibulum, accumsan ante viverra, condimentum tellus. Curabitur pellentesque convallis purus non ornare. Donec bibendum sed purus dignissim rutrum. Maecenas bibendum feugiat est, et venenatis nunc.

        include includes/footer
        include includes/scripts
