html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('https://cloudflare-ipfs.com/ipfs/bafybeifr3fpugfxbb2aru7codej5qc2mwx2cghjfpdt22z5mmii7s7zggi/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.screenContent {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 9999;
    p {
        // border-style: solid;
        // border-color: black;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 48vw;
        text-align:center;      
        position: relative;
        left: 100%;
    }
}

p {
    line-height: 1.75;
}

.text-faded {
    color: lighten($primary, 25%);
}

.site-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $headings-font-family;

    .site-heading-upper {
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .site-heading-lower {
        font-size: 5rem;
        font-weight: 100;
        line-height: 4rem;
    }
}

.page-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-heading {
    text-transform: uppercase;

    .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }
}

.bg-faded {
    background-color: lighten($primary, 25%);
}


.rounded-xl {
    border-radius: 1.5rem;
}

.rounded-m {
    border-radius: 0.5rem;
}


.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.border-0 {
    border: 0 !important;
}
.position-relative {
    position: relative !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.member-profile {
    top: -50px;
    left: 0;
}
.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}

.member-profile img {
    width: 100px;
    height: 100px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}