section#gallery.page-section(style="background-color: #1d1d1d")
    .container
        .row
            .col-xl-9.mx-auto
                .cta-inner.text-center.rounded        
                    h2.section-heading.mt-4
                        span.section-heading-lower(style="color: white !important") GALLERY      
    .container.mt-4
        .row
            .col-lg-4.col-md-12.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://cloudflare-ipfs.com/ipfs/QmfRJ2Hq45CtDMhku1MvByLvHTQS5oaUA7CNpz2gkwzQr5?filename=muka600x900_BG1.jpg' alt='Boat on Calm Water')
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://cloudflare-ipfs.com/ipfs/QmNk9RsJMisWM9KDc5zjvK4ZM9ioNUW7sPCcNUgsAUMafj?filename=badran900x900_flipped.jpg' alt='Wintry Mountain Landscape')
            .col-lg-4.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://ipfs.filebase.io/ipfs/QmaX3Kej9aqRArnpSmxTpDVkqCLWrKNrGNVqQyJPzJ3FS6?filename=vika900x900.jpg' alt='Mountains in the Clouds')
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://cloudflare-ipfs.com/ipfs/QmR6omxqY1JAKq96kVrG8Vz9tku45VyuhmT2fPje9JDsHM?filename=900x600.jpg' alt='Boat on Calm Water')
            .col-lg-4.mb-4.mb-lg-0
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://cloudflare-ipfs.com/ipfs/QmVw4GrmA5T9wtXJDtyyuuCVZvkiwQA5QkdYRhCoNC1Lj5?filename=900x600.jpg' alt='Waves at Sea')
                img.w-100.shadow-1-strong.rounded.mb-4(src='https://cloudflare-ipfs.com/ipfs/QmaYV9EHX8Wq1zNLVax5d7STpvi4dwHzKtoSTZQSwgpWFM/tota900x900.jpg' alt='Yosemite National Park')
