// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Babylon JS
script(src='https://cdn.babylonjs.com/babylon.js')
script(src='https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js')
script(src='https://code.jquery.com/pep/0.4.3/pep.js')

// Core theme JS
script(src='js/scripts.js')