// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Babylon JS
script(src='https://cdn.babylonjs.com/babylon.js')
script(src='https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js')
script(src='https://code.jquery.com/pep/0.4.3/pep.js')
script(src='https://unpkg.com/web3@1.2.11/dist/web3.min.js')
script(src='https://unpkg.com/web3modal@1.9.0/dist/index.js')
script(src='https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js')
script(src='https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js')
script(src='https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js')
// Core theme JS
script(src='js/scripts.js')